// ********************************************************
//        Typography Login/Signup Pages
// ********************************************************

.primary-heading {
  font-size: 40px;
  color: #15191c;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.secondary-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
}